body{
    background-color: rgb(244, 227, 172);
}
.H1{
    font-family: Poppins;
    font-size: 98px;
    font-weight: 800;
    line-height: 102px;
    letter-spacing: 0em;
    text-align: left;
    width: 620px;
    background-color: rgb(244, 227, 172);
    
    color: rgb(27, 20, 11);
    margin-top: 50%;
}
.H5{
    font-family: Inter;
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 2px;
    text-align: left; 
    width: 600px;
    color:  rgb(27, 20, 11);
    background-color: rgb(244, 227, 172);
    margin: 2%  auto;
    }
.btn{
        display: flex;
        gap: 24px;
        margin: 2% auto;
}
.main{
    display: flex;
    gap :150px;
    margin: auto;
    color: rgb(27, 20, 11);
    background-color: rgb(244, 227, 172);
}
.IMG{
    /* margin-left: 15%; */
    width: 400px;
    height: 550px;
    margin: 10%;
    margin-right: 2%;

}
@media (max-width: 768px){
    .main{
        display: none;
    }     
}
 
