/* *{
  background-color: burlywood;
  margin: 0;
  padding: 0;
} */
/* 
.App {
  text-align: center;
  
}
.navbar{
  display: flex;
  align-items: center;
  font: 30px bold ;
  background-color: rgb(89, 1, 1);
  color: rgb(67, 189, 189);
  height: 10vh;
  
}
nav ul {
  display: flex;
  list-style-type: none;
  
}

nav ul li{
  
  padding: 0 12px;
  background-color: rgb(89, 1, 1);

}


 */
